.grid-container > div.item1 {
  grid-area: header;
  background-color: aqua;
}
.grid-container > div.item2 {
  grid-area: nav;
  background-color: blueviolet;
}
.grid-container > div.item3 {
  grid-area: article;
  background-color: rgb(222, 80, 108);
}
.grid-container > div.item4 {
  grid-area: aside;
  background-color: #2196f3;
}
.grid-container > div.item5 {
  grid-area: footer;
  background-color: pink;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header header header header header header"
    "nav nav article article  aside aside"
    "footer footer footer footer footer footer";
  gap: 10px;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
